<fieldset>
  <legend class="block text-sm font-medium mb-2"><%= t("sources.color_picker.color_label") %></legend>
  <div class="flex gap-2">
    <% Source::Colors::ALL.each do |color| %>
      <label class="cursor-pointer">
        <%= f.radio_button :color, color, class: "peer sr-only" %>
        <span class="block size-8 rounded-full <%= Source::Colors::CLASSES[color] %> peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-gray-400"></span>
      </label>
    <% end %>
  </div>
</fieldset>
