<header class="bg-pink-500 text-white">
  <nav class="max-w-5xl mx-auto px-4 py-4 flex justify-between items-center">
    <%= link_to root_path, class: "flex items-center gap-2 text-2xl font-semibold" do %>
      <%= image_tag "icon.svg", class: "size-8" %>
      Sessy
    <% end %>
    <%= link_to t("layouts.header.fork_on_github"), "https://github.com/marckohlbrugge/sessy", target: "_blank", class: "text-sm text-white hover:underline" %>
  </nav>
</header>
